#app3{

}
#app3 .square{
    border: 3px solid blueviolet;
    height: 10vh;
    width: 10vh;
    margin-left: 15vh;
    margin-top: 10vh;
    transition: transform 1s;
}

#app3 .square.active{
    transform: translateX(15vw);
}